*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColorLighter: hsl(148, 38%, 91%);
    --primaryColorMedium: hsl(169, 82%, 27%);
    --primaryColor: hsl(0, 66%, 54%);
    --defaultColor: hsl(0, 0%, 100%);
    --naturalMedium: hsl(186, 15%, 59%);
    --naturalColorDarker: hsl(187, 24%, 22%);
    --primaryFont: Karla;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--primaryColorLighter);
}

.highlight{
    color: var(--primaryColorMedium);
}

main{
    background-color: var(--defaultColor);
    border-radius: 20px;
    color: var(--naturalColorDarker);
    font-family: var(--primaryFont);
    font-size: 15px;
    font-weight: 600;
    padding: 30px;
    width: 50%;
}

.heading{
    font-size: 30px;
    font-weight: 700;
    color: var(--naturalColorDarker);
    margin-bottom: 20px;
}

.subcontainer{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .content{
        display: flex;
        flex-direction: column;
        width: 50%;

        .label{
            margin-bottom: 10px;
        }

        input[type=text]{
            height: 40px;
            border-radius: 10px;
            border: 1px solid var(--naturalColorDarker);
            padding-left: 20px;

            &:focus{
                outline: none;
            }
        }
    }

    .errorBox{
        margin: 5px;
        color: var(--primaryColor);

        .enter,
        #reEnter{
            display: none;
        }
    }
}

#emailContainer>.content,
#queryContainer>.content,
#messageContainer>.content,
#submitBtn{
    width: 100%;
}

#queryContainer{
    flex-direction: column;
    gap: 0;

    .content{
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;

        .queryTypeBox{
            width: 50%;
            height: 40px;
            margin-top: 10px;
            border-radius: 10px;
            border: 1px solid var(--naturalColorDarker);
            display: flex;
            align-items: center;

            input[type=radio]{
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }
}

#submitBtn{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--primaryColorMedium);
    color: var(--defaultColor);
    font-family: var(--primaryFont);
}